.media-player {
	background-color: @window_bg_color;
	color: @window_fg_color;
	border-radius: 8px;
	padding: 12px;
	transition: background-color 0.3s, color 0.3s;
}

.player-switch-button {
	background-color: transparent;
}

.player-button {
	background-color: transparent;
	color: alpha(@window_fg_color, 0.7);
}

.player-button.playing {
	color: @window_fg_color;
}

.taskbar {
	background-color: @window_bg_color;
	color: @window_fg_color;
	border-radius: 6px;
	padding: 4px;
	
	transition: background-color 0.3s, color 0.3s;
}

.niri-window {
	min-width: 32px;
	min-height: 32px;
	
}

.niri-window.focused {
	background-color: @accent_color;
}
